<header id="header">
	<div class="container-fluid">
		<a class="logo" routerLink="/">
			<figure class="ico-holder">
				<img src="assets/images/ico-logo.svg" alt="logo">
			</figure>
		</a>
		<nav>
			<ul class="main-nav">
				<li><a routerLink="/games" routerLinkActive="active">Games</a></li>
				<li><a routerLink="/library" routerLinkActive="active">Library</a></li>
				<li><a routerLink="/friends" routerLinkActive="active">Friends</a></li>
				<li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
			</ul>
		</nav>
		<a href="#" class="log-out" (click)="logOut()">Log out</a>
	</div>
</header>