@import "../../../styles.scss";

.modal-holder {
	height: 100vh;
	width: 100%;
	.modal-inner {
		height: 100%;
		display: flex;
		.app-modal {
			min-height: 34rem;
			width: 32rem;
			margin: auto;
			background: $white;
			border-radius: 0.4rem;
			box-shadow: 0 0.4rem 0.4rem rgba($black, 0.25);
			padding: 6rem;
			text-align: center;
			form {
				font-size: 1.4rem;
				text-align: left;
			}

			.btn {
				width: 100%;
			}
			.message-block {
				padding: 1rem;
				background: rgba(red, 0.2);
				border: 1px solid rgba(red, 0.5);
				margin-bottom: 2rem;
				p {
					margin: 0;
				}
			}
		}
	}
}
