<div class="modal-holder">
	<div class="modal-inner">
		<div class="app-modal">
			<h2>Sign In</h2>
			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="message-block" *ngIf="errorMessage">
					<p>{{errorMessage}}</p>
				</div>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Email</mat-label>
					<input type="email" matInput placeholder="Email" formControlName="email">
				</mat-form-field>
				<mat-form-field class="example-full-width" appearance="fill">
					<mat-label>Password</mat-label>
					<input type="password" matInput placeholder="Password" formControlName="password">
				</mat-form-field>
				<button mat-raised-button color="primary">Sign In</button>
			</form>
		</div>
	</div>
</div>