/* You can add global styles to this file, and also import other style files */
$white: #fff;
$black: #000;
$gray: #e5e5e5;
$purple: #6c69ff;

html {
	font-size: 10px;
}
html,
body {
	margin: 0;

	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	// font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	background: $gray;
}
a {
	text-decoration: none;
	color: inherit;
}
figure {
	margin: 0;
}
h2,
.h2 {
	font-size: 2.4rem;
	margin: 0 0 2rem;
}
.btn {
	font-size: 1.4rem;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
#main {
	height: 100%;
	&.padding-top {
		padding-top: 6.4rem;
	}
	> .container {
		height: 100%;
	}
}
.section {
	background: $white;
	border-radius: 0.4rem;
	box-shadow: 0 0.4rem 0.4rem rgba($black, 0.25);
	padding: 2rem 1.5rem;
	height: auto;
	min-height: 100%;
	@media screen and (min-width: 768px) {
		padding: 2rem 6rem;
	}
}
.form-group {
	margin: 0 0 2rem;
}
.form-control {
	font-size: 1.4rem;
}
.btn {
	color: $white;
}
.mat-form-field-underline {
	display: none;
}
.search-block {
	.mat-form-field-wrapper {
		padding: 0;
	}
}
